body{
    display:flex;
background-color: blue;
    height: 100vh;
    padding: 1;
    margin:1;
}
.column{
    border:5px solid black;
    display:flex;
    flex-direction:column-reverse;
   
}
.checker{
    border-radius: 50%;
    width: 120px;
    height:120px;
    display: flex;
    align-content: center;

}
.red {
    background-color:  red;
}
.yellow {
    background-color:  yellow;
}
.row{
    height: 125px;
    width: 125px;
}